@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/roboto-condensed-webfont-webfont.eot');
    src: url('../font/roboto-condensed-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-condensed-webfont-webfont.woff') format('woff'),
         url('../font/roboto-condensed-webfont-webfont.ttf') format('truetype'),
         url('../font/roboto-condensed-webfont-webfont.svg#robotocondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, main, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Arial, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a.button {
    font-size: 0.7em;
    color:#FFF;
    text-decoration: none;
    display: block;
    float: left;
    background:#444;
    line-height:10px;
    padding: 7px 10px;
    margin-right:10px;
}

a.button:hover {
    background:#111;
}

a.button:before {
    margin-right:7px;
    font-size:0.8em;
}

#commentar-container {
    padding:20px;
}

.commentar-post input[type="submit"] {
    background:#208a1d;
    color:#FFF;
    padding:5px 10px;
    margin: 0 10px 0 0;
    float:left;
    border:none;
    cursor:pointer;
    font-size:0.7em;
}

.commentar-post input[type="submit"]:hover {
    background:#164d14;
}

.commentar-post .commentar-post-container {
    margin-left: 50px;
}

.commentar-post textarea {
    width:100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding:20px;
    margin: 0 0 5px 0;
    outline: none;
    border:none;
    resize:vertical;
    font-family: 'Roboto Condensed', sans-serif;
}

.commentar-post input[type="text"], .commentar-post input[type="password"] {
    width:100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding:20px;
    margin: 0 0 5px 0;
    outline: none;
    border:none;
    font-family: 'Roboto Condensed', sans-serif;
}

.textWrapper {
    margin: 20px 20px 5px 90px;
    position: relative;
    overflow: hidden;
}

.commentar-comments {
    margin-top: 5px;
}

.commentar-comments ul.commentar-comment {
    list-style: none;
}

ul.commentar-comments ul.commentar-comments {
    margin-left: 70px;
    float: left;
    display: none;
}

.commentar-comments img, .commentar-post img  {
    float: left;
    width: 32px;
    height: 32px;
    padding:5px;
    margin:15px 0 0 15px;
}

.commentar-comments article {
    margin-left: 50px;
    padding:20px 20px 5px;
    margin-bottom:5px;
    font-size:0.9em;
    line-height:1.2em;
}

.commentar-comments > li, .commentar-post, #errorMessage {
    background:#EEE;
    overflow: hidden;
    position: relative;
    padding-bottom:10px;
    margin-bottom:5px;
}

.commentar-comments .commentar-post {
    background:#CCC;
}


.commentar-comments article header ul {
    list-style: none;
}

.commentar-comments article header ul li {
    display: inline;
}

.commentar-comments article header .username {
    font-weight: bold;
}

.commentar-comments article header .username a {
    color: #208a1d;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.commentar-comments article header .username a:hover {
    text-decoration: underline;
}

.commentar-comments article header span.mod {
    background: #208a1d;
    color: white;
    padding: 0 5px;
    font-size: 60%;
}

.commentar-comments article header .date {
    font-size:0.7em;
    color:#666;
    margin-left:10px;
}

.commentar-comments article header {
    padding-bottom:10px;
}

.commentar-comments article main {
    font-size:0.8em;
    padding:20px;
    color:#666;
    margin-left:20px;
    background:#FFF;
    position: relative;
}

.commentar-comments article main p {
    position: relative;
    z-index: 2;
}

.commentar-comments main .icon-comments {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 2em;
    text-align: right;
    line-height: 0;
    color: #f2f2f2;
}

.commentar-comments article footer {
    background:#444;
    color:#FFF;
    padding:7px 10px;
    margin-left:20px;
    font-size:0.7em;
    line-height:1.5em;
}

.commentar-comments .showReplies {
    margin-left:90px;
    display:inline-block;
    background:#208a1d;
}

.commentar-comments .showReplies:hover {
    background:#164d14;
}

.commentar-comments article footer ul {
    list-style: none;
}

.commentar-comments article footer ul li {
    display: inline-block;
}

.commentar-comments .reply {
    float: right;
    display: block;
    padding: 7px 7px;
    background: #208a1d;
    color: #FFF;
    text-decoration: none;
    margin-top: -7px;
    margin-right: -10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.commentar-comments footer a {
    text-decoration: none;
    color:#FFF;
    margin-right:20px;
}

.commentar-comments footer a:hover, .commentar-comments footer .share:hover {
    color:#CCC;
}

.commentar-comments footer .reply:hover {
    background:#164d14;
    color:#FFF;
}

.commentar-comments footer .flag {
    float:right;
    margin-right:20px;
}

.commentar-comments footer .share {
    margin-right:20px;
    cursor: pointer;
}

.commentar-comments footer .share:before, .commentar-comments footer .flag:before, 
.commentar-comments footer .reply:before {
    margin-right:5px;
}

.commentar-comments footer .share  a {
    margin-left:10px;
    display: none;
    font-size:1em;
}

.commentar-comments footer .thumbsUp {
    padding-right:5px;
    border-right:1px solid #CCC;
    margin-left:20px;
}

.triangle-topleft, .formTriangle-topleft {
    width: 0;
    height: 0;
    border-top: 20px solid #FFF;
    border-left: 20px solid transparent;
    position: absolute;
    top:0;
    left:-20px;
}

.formTriangle-topleft {
    top :20px;
    left:70px;
}

#poweredBy {
    margin: 40px auto;
    width:165px;
    font-size: 0.8em;
    color:#444;   
    margin-bottom: 20px;
    color:#CCC;
    position: relative;
}

#poweredBy .icon-commentar-logo {
    display: inline-block;
    margin-left:5px;
    color:#CCC;
    font-size:7em;
    position: absolute;
    top:-39px;
    right:0;
}

#poweredBy .icon-commentar-logo:hover {
    color:#208a1d;
}

.editedBy {
    color:#CCC;
    font-size:0.9em;
    margin-top:5px;
}

#errorMessage .errorHolder {
    margin: 30px auto 60px;
    width: 467px;
}

#errorMessage p {
    padding-bottom:20px;
    font-size:0.8em;
}

#errorMessage #errorIcon .icon-commentar-comment {
    color: #FFF;
    font-size: 2.7em;
    position: absolute;
    top: -15px;
    left: -26px;
}

#errorMessage #errorIcon {
    position: relative;
    float: left;
    text-align: center;
    font-size: 3.5em;
    width: 130px;
    line-height: 120px;
    height: 120px;
    margin-right:20px;
}

#errorMessage #errorIcon span {
    position: relative;
    z-index:2;
    color:#EEE;
}

#errorMessage h1 {
    margin-bottom:17px;
    font-weight:bold;
    font-size:1.5em;
    padding-top:12px;
    font-family: 'Roboto Condensed', sans-serif;
    color:#208a1d;
}

